[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-pinecone = "*"
ollama = "*"
pypdf = "*"
langchain-community = "*"
python-dotenv = "*"
timeit-decorator = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
